* { }
html { margin: 0 auto; padding: 0; font-family:
   "ヒラギノ明朝 ProN W6",
   "HiraMinProN-W6",
   "HG明朝E",
   "ＭＳ Ｐ明朝",
   "MS PMincho",
   "MS 明朝",
   serif; font-size: 1em; line-height: 150%; overflow-y:auto; }
body { text-align:center; overflow-y:auto;margin:0; padding:0; min-height:480px!important; min-width:780px; }
.logo-index { display:none;/*width: 447px;
height: 59px;
display: block;
float: left;
text-indent: -3000px;
background: url("../img/logo-index.png") no-repeat left top;
cursor: pointer;
*/ }
img.bg { /* Set rules to fill background */ min-height: 100%; min-width: 1024px; /* Set up proportionate scaling */ width: 100%; height: auto; /* Set up positioning */ position: fixed; /* またはabsolute; */ top: 0; left: 0; }
 @media screen and (max-width: 1024px) {
img.bg { left: 50%; margin-left: -512px; }
}
div#container { position: relative; }


img { border:none; }
/*.index_txt { width: 780px; height: 420px; background:rgba(255,255,255,0.7); text-align: center; padding-top:10px; margin:0 auto; }*/
.contents { position:relative; }
/*#index-contents { top:20%; background:rgba(255,255,255,0.7); padding:36px; border-radius:6px;/*box-shadow: 0px 0px 6px rgb(119, 119, 119);}
#indexcontents { width:598px; height:365px; }
*/
#index-wrapper { position: absolute; z-index: 10000; width: 28%; min-width:400px; right: 24px; top: 24px; }
#index-header h2 { margin-bottom:0px; margin-left: 24px; }
#index-header { position:absolute; z-index:10000; /*width:35%; min-width:360px;max-width:436px;*/
width:350px;}
#index-header img { width:100%; /*min-width:360px;*/ }




